* {
  margin: 0;
  padding: 0;
}

.welcome {
  text-align: center;
}

.App {
  background-color: brown;
}

.into {
  height: 400px;
  width: 500px;
}

@media only screen and (max-width: 800px) {
  .welcome {
    margin-top: 160px;
    text-align: center;
  }

  .into {
    height: 300px;
    width: 100%;
  }
}
